body {
	padding: 0;
	margin: 0;
	background: rgb(50, 50, 65);
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(225, 225, 225);
	letter-spacing: 0.5;
	-webkit-font-smoothing: antialiased;
}

a:visited {
	color: rgb(225, 225, 225);
}

a {
	color: rgb(225, 225, 225);
	text-decoration: none;
}

header {
	width: 100vw;
	height: 13vh;
	background-color: rgb(50, 50, 65);
	/* padding-top: 2vh; */
	box-sizing: border-box;
}

header hr {
	width: 7vw;
	border: 2px solid rgb(164, 27, 249);
}

header img {
	float: left;
	height: 5vh;
	padding: 2vh;
}

.foreground {
	backdrop-filter: blur(0px);
	position: relative;
}

.background-image {
	position: absolute;
	box-sizing: border-box;
	height: 87vh;
	width: 99vw;
	margin-left: 0.5vw;
	background-image: url("./Images/1495851.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: rgb(50, 50, 65);
	filter: blur(25px) contrast(120%);
	-webkit-filter: blur(25px) contrast(120%);
}

.flex {
	width: 100%;
	text-align: center;
	flex-wrap: nowrap;
	margin-left: auto;
	margin-right: auto;
}

.profile-flex-content {
	margin-top: 12vh;
}

.content {
	position: relative;
	display: inline-block;
	background-color: rgba(50, 50, 65, 0.65);
	border-radius: 10px;
	box-shadow: 0px 4px 10px 3px rgb(0, 0, 0, 0.35);
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	transition: 0.2s;
}

.profile-content {
	padding: 3vh;
}

.profile-content img {
	margin-top: 1vh;
	height: 12vh;
	border: 3px solid rgb(50, 50, 65);
	border-radius: 10px;
}

.file-flex-content {
	padding-top: 7vh;
}

.file-content {
	display: inline-block;
	background-color: rgba(50, 50, 65, 0.65);
	border-radius: 10px;
	padding: 3vh;
	min-width: 15vw;
}

.file-content img {
	height: 10vh;
	margin: auto;
	display: block;
}

.content:hover {
	transform: scale(1.1);
}

.content h2 {
	font-size: 2.5vh;
	margin: 0;
	text-align: center;
	padding-left: 1vw;
	padding-right: 1vw;
}

.content hr {
	width: 5vw;
	border: 1px solid rgb(164, 27, 249);
}
.tba hr {
	border: 1px solid rgb(50, 50, 65);
}

.tba {
	opacity: 0.35;
	box-shadow: 0px 0px 0px 0px;
	pointer-events: none;
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 3.5vh;
	padding-top: 2vh;
}
